<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.StudentMapper">
<select id="findAll" parameterType="studentVo" resultType="studentVo">
	SELECT s.*,c.`name` AS cname FROM student s,course c WHERE s.`courseid`=c.`id`
	<if test="name!=null and name!=''">
		and s.name like '%${name}%'
	</if>
	<if test="courseid!=null and courseid!=0">
		and courseid=#{courseid}
	</if>
	<if test="entrytime1!=null">
		and entrytime &gt;= #{entrytime1}
	</if>
	<if test="entrytime2!=null">
		and entrytime &lt;= #{entrytime2}
	</if>
</select>
<select id="countStudent" resultType="studentVo">
	SELECT c.`name` as cname,COUNT(s.`id`) as num FROM `course` c LEFT JOIN `student` s ON c.`id`=s.`courseid` GROUP BY c.`name`
</select>
</mapper>